$white: #fff0f3;
$pink1: #ffccd5;
$pink2: #ffb3c1;
$pink3: #ffb3c1;
$pink4: #ff8fa3;
$pink5: #ff758f;
$pink6: #ff0a54;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}